<div id="footer" class="display:none;">
  <table style="width:100%">
    <tr>
      <td>
      	<%= CONTACT_EMAIL_ADDRESS %>
      	<br/>
        <br/>
      	Địa điểm giao dịch: 229/64/41 đường Tây Thạnh - Phường Tây Thạnh - Quận Tân Phú
      </td>
      <td align="right" style="padding-right:30px;vertical-align:top;">
        <div>
          <%= link_to t('client.policy'), "#{client_info_path}#policy", target: '_blank',
                style: 'color:white !important;' %>
        </div>

        <div>
          <%= link_to t('client.payment_hint'), "#{client_info_path}#pay_at_delivery", target: '_blank',
                style: 'color:white !important; margin-top:5px' %>
        </div>
        
        <div>
          <%= link_to t('client.search_hint'), "#{client_info_path}#search_hint", target: '_blank',
                style: 'color:white !important;' %>
        </div>
      </td>
    </tr>
  </table>
</div>