<div id="footer" class="display:none;">
  <table style="width:100%">
    <tr>
      <td>
      	<b>Công ty AIH Việt Nam</b>
      	<br/>
      	<br/>
      	contact@pari.vn
      	<br/>
      	Địa điểm giao dịch: 300 C4 Nguyễn Văn Đậu - Bình Thạnh - HCM
      </td>
      <td align="right" style="padding-right:30px;vertical-align:top;">
        <%= link_to t('client.policy'), "#{client_info_path}#policy", target: '_blank',
              style: 'color:white !important;' %>
      </td>
    </tr>
  </table>
</div>