<div class="form-group">
  <label><%= t "admin.image" %></label>
  <div id="imageInputs">
  </div>
  <div style="clear:both;">
    <button type="button" class="btn btn-default" onclick="addImageLink();return false;">
      <span class="glyphicon glyphicon-plus"></span>Link
    </button>
    <button type="button" class="btn btn-default" onclick="addImageUpload();return false;">
      <span class="glyphicon glyphicon-plus"></span>Upload
    </button>
  </div>
</div>