<div class="form-group">
  <label><%= t "admin.tags" %></label>
  <div id="tagInputs">
  </div>
  <div style="clear:both;">
    <button type="button" class="btn btn-default" onclick="addTag('');return false;">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>