@import 'bootstrap';


.selected_tab {
  background-color: #31B0D5 !important;
  color: white !important;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

body {
  padding: 20px 20px 20px 20px;
}

.error_box {
  background-color: yellow;
  border: thin solid red;
  padding: 20px;
  color: black;
}

.clickable_table td {
  cursor: pointer;
}

/*
.error_box {
  background-color: yellow;
  border: thin solid red;
  padding: 20px;
  color: black;
}

.data_table {
  border-collapse:collapse;
  border: thin solid black;
}

.data_table tr:first-child {
  background-color: #ccc;
}

.data_table td {
  padding: 10px;
  border: thin solid black;
}
*/
