@import 'bootstrap';


.selected_tab {
  background-color: #31B0D5 !important;
  color: white !important;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

body {
  padding: 20px 20px 20px 20px;
}

.error_box {
  background-color: yellow;
  border: thin solid red;
  padding: 20px;
  color: black;
}

.clickable_table td {
  cursor: pointer;
}